  body {
     background-color:#000000;
     color:#FFFFFF;
     font-family: 'Anonymous Pro', monospace;
  }

  h1 {
    font-size: 3.6em;
  }

  h5 {
    font-size: .76em;
  }

  h6 {
    font-size: .56em;
  }

  .hh {
    text-align:center;
  }

  .b {
    text-align:right;
    font-family: 'Inconsolata', monospace;
  }
 
  .img {
  }

  .beg {
    text-align:center;
  }

  .pic {
    text-align:center;
  }











